.tableHead{
    background-color: #b6b9bd  !important;
    font-weight: bold !important;
    padding : 5px !important;
}
.required:after
{
    color: red;
    content: " *";
}

.has-error{
    border: 1px solid #e40303 !important;
}   
.p-error{
    color : #f44336;
    margin: 0;
    font-size: 0.75rem;
    margin-top: 3px;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.03333em;
}

.rc-input-number-handler{
    height : 20px !important;
}

.rc-input-number-input{
    color: black !important;
}

.size_run_label{
    color: black
}

.increaseBtn{
    color: blue; 
    cursor : pointer;
}

.decreaseBtn{
    color: red; 
    cursor : pointer;
}