#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }

  .logo {
    height: 90px;
    background: url('../../assets/images/logo.png') no-repeat;
    background-size: contain;
    margin: 15px;
  }

  .sliderMenu{
      background: #1d1919 !important;
  }

  .ant-menu{
    background:  #1d1919 !important;
  }

  .ant-layout-sider{
    flex: 0 0 300px !important;
    max-width: 300px !important;
    min-width: 300px !important;
    width: 300px !important;
  }

  .ant-layout-sider-collapsed{
    flex: 0 0 90px !important;
    max-width: 90px !important;
    min-width: 90px !important;
    width: 90px !important;
  }

  .ant-menu-item:hover{
    color: #f8b739 !important
  }

  .ant-menu-item-selected .anticon + span,.ant-menu-item-selected .anticon,.ant-menu-item-selected a{
    color: #f8b739 !important
  }

  .ant-menu-item{
    background: transparent !important;
    border-bottom: none;
  }

  /* .ant-menu-item a{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  } */


  .ant-menu-item .anticon + span:hover{
    color: #f8b739 !important
  }

  .ant-menu-submenu-active{
    color: #f8b739 !important
  }

  .ant-menu-submenu-selected{
    color: #f8b739 !important
  }

  .ant-menu-submenu:hover .anticon, .ant-menu-submenu:hover span{
    color: #f8b739 !important
  }

  .ant-menu-submenu:hover .ant-menu-submenu-arrow:before, .ant-menu-submenu:hover .ant-menu-submenu-arrow:after{
    background: #f8b739 !important
  }

  .ant-menu-item-only-child:hover a, .ant-menu-item-only-child:hover .submenu-slider::marker, .ant-menu-item-only-child:hover .submenu-slider{
    color: #f8b739 !important
  }

  .ant-menu-submenu-active:hover{
    color: #f8b739 !important
  }

/*  
  .ant-layout-content{
    background: url("../../assets/images/bg.png") no-repeat !important;
    background-size: cover !important;
  } */