.testStyle {
    background : white;
}

.testStyle2 {
    background : red;
}

.testStyle4:hover{
    background-color: rosybrown;
}

.testStyle4:active{
    background-color: rosybrown;
}

.nav-icon{
    color : red;
}


